# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
tipsold

# Files from Forge MDK
forge*changelog.txt

src/main/resources/data/bisccel/articles
src/main/java/mod/azure/behaviortreeapi/